src/main/xsd/certvalidator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://difi.no/xsd/certvalidator/1.0" xmlns="http://difi.no/xsd/certvalidator/1.0"
           xmlns:xmldsig="http://www.w3.org/2000/09/xmldsig#">

    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>

    <!-- Receipt -->

    <xs:element name="ValidatorRecipe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Validator" type="ValidatorType" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="CertificateBucket" type="CertificateBucketType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="KeyStore" type="KeyStoreType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Extension" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="xmldsig:Signature" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Extensible -->

    <xs:complexType name="ExtensibleType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Blacklist" type="BlacklistType"/>
            <xs:element name="Cached" type="CachedType"/>
            <xs:element name="Chain" type="ChainType"/>
            <xs:element name="Class" type="ClassType"/>
            <xs:element name="CriticalExtensionRecognized" type="CriticalExtensionRecognizedType"/>
            <xs:element name="CriticalExtensionRequired" type="CriticalExtensionRequiredType"/>
            <xs:element name="CRL" type="CRLType"/>
            <xs:element name="Dummy" type="DummyType"/>
            <xs:element name="Expiration" type="ExpirationType"/>
            <xs:element name="HandleError" type="HandleErrorType"/>
            <xs:element name="Junction" type="JunctionType"/>
            <xs:element name="KeyUsage" type="KeyUsageType"/>
            <xs:element name="OCSP" type="OCSPType"/>
            <xs:element name="PrincipleName" type="PrincipleNameType"/>
            <xs:element name="RuleReference" type="RuleReferenceType"/>
            <xs:element name="Signing" type="SigningType"/>
            <xs:element name="Try" type="TryType"/>
            <xs:element name="ValidatorReference" type="ValidatorReferenceType"/>
            <xs:element name="Whitelist" type="WhitelistType"/>
            <xs:element name="Extension" type="ExtensionType"/>
        </xs:choice>
    </xs:complexType>

    <!-- Validator -->

    <xs:complexType name="ValidatorType">
        <xs:complexContent>
            <xs:extension base="ExtensibleType">
                <xs:attribute name="name" type="xs:string"/>
                <xs:attribute name="timeout" type="xs:long"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Rule -->

    <xs:complexType name="BlacklistType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ChainType">
        <xs:sequence>
            <xs:element name="RootBucketReference" type="CertificateBucketReferenceType"/>
            <xs:element name="IntermediateBucketReference" type="CertificateBucketReferenceType"/>
            <xs:element name="Policy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Extension" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClassType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CriticalExtensionRecognizedType">
        <xs:sequence>
            <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Extension" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CriticalExtensionRequiredType">
        <xs:sequence>
            <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Extension" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CRLType">
        <xs:sequence>
            <xs:element name="Extension" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DummyType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ExpirationType">
        <xs:sequence>
            <xs:element name="Extension" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="millis" type="xs:long"/>
    </xs:complexType>

    <xs:complexType name="HandleErrorType">
        <xs:complexContent>
            <xs:extension base="ExtensibleType">
                <xs:attribute name="handler" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="JunctionType">
        <xs:complexContent>
            <xs:extension base="ExtensibleType">
                <xs:attribute name="type" type="JunctionEnum" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KeyUsageType">
        <xs:sequence>
            <xs:element name="Identifier" type="KeyUsageEnum" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Extension" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OCSPType">
        <xs:choice>
            <xs:element name="IntermediateBucketReference" type="CertificateBucketReferenceType"/>
            <xs:element name="Extension" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="PrincipleNameType">
        <xs:choice>
            <xs:element name="Value" type="xs:string" maxOccurs="unbounded"/>
            <xs:element name="Reference" type="ReferenceType"/>
            <xs:element name="Extension" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:attribute name="field" type="xs:string"/>
        <xs:attribute name="principal" type="PrincipalEnum"/>
    </xs:complexType>

    <xs:complexType name="RuleReferenceType">
        <xs:complexContent>
            <xs:extension base="ReferenceType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SigningType">
        <xs:attribute name="type" type="SigningEnum" use="required"/>
    </xs:complexType>

    <xs:complexType name="TryType">
        <xs:complexContent>
            <xs:extension base="ExtensibleType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ValidatorReferenceType">
        <xs:complexContent>
            <xs:extension base="ReferenceType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="WhitelistType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Certificate Bucket -->

    <xs:complexType name="CertificateBucketReferenceType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CertificateBucketType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Certificate" type="CertificateType"/>
            <xs:element name="CertificateReference" type="CertificateReferenceType"/>
            <xs:element name="CertificateStartsWith" type="CertificateStartsWithType"/>
        </xs:choice>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="CertificateType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CertificateReferenceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="keyStore" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CertificateStartsWithType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="keyStore" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Cache -->

    <xs:complexType name="CachedType">
        <xs:complexContent>
            <xs:extension base="ExtensibleType">
                <xs:attribute name="timeout" type="xs:long" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Key Store -->

    <xs:complexType name="KeyStoreType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="name" type="xs:string"/>
                <xs:attribute name="password" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Utils -->

    <xs:complexType name="ReferenceType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Enums -->

    <xs:simpleType name="JunctionEnum" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AND"/>
            <xs:enumeration value="OR"/>
            <xs:enumeration value="XOR"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PrincipalEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUBJECT"/>
            <xs:enumeration value="ISSUER"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SigningEnum" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PUBLIC_SIGNED"/>
            <xs:enumeration value="SELF_SIGNED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="KeyUsageEnum" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIGITAL_SIGNATURE"/>
            <xs:enumeration value="NON_REPUDIATION"/>
            <xs:enumeration value="KEY_ENCIPHERMENT"/>
            <xs:enumeration value="DATA_ENCIPHERMENT"/>
            <xs:enumeration value="KEY_AGREEMENT"/>
            <xs:enumeration value="KEY_CERT_SIGN"/>
            <xs:enumeration value="CRL_SIGN"/>
            <xs:enumeration value="ENCIPHER_ONLY"/>
            <xs:enumeration value="DECIPHER_ONLY"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Extension -->

    <xs:complexType name="ExtensionType">
        <xs:sequence>
            <xs:any namespace="##other" processContents="lax" />
        </xs:sequence>
        <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>

</xs:schema>